.container {
    background-color: #66007A;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: inset 0px -21px 12px -16px rgba(0, 0, 0, 0.56);
    box-shadow: inset 0px -21px 12px -16px rgba(0, 0, 0, 0.56);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    height: 3rem;
    width: 80%;
}

.botoes {
    margin-left: 50rem;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: flex-end;


    a {
        color: azure;
        font-size: medium;
        display: flex;
        justify-content: space-between;

    }
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: azure;
    position: absolute;
    top: 2px;
    -webkit-box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.88);
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.88);

    h1 {
        color: #000;
    }
}