.container{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.gmail{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--preto);
}

@media screen and (min-width:1024px) {

    .container {
        position: absolute;
        background-color: var(--branco);
        width: 100vw;
        height: 7vh;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid var(--roxo-claro);

        img{
            width: 2vw;
        }


        span {
            font-size: 1vw;
            font-weight: 3vw;
            color: var(--roxo-claro);
        }
    }

    .gmail {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img{
        width: 3vw;
        height: 3vh;
    }
}