.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 94vh;
  background-color: var(--roxo-escuro);
  color: var(--branco)
}

.texto {

  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 1.3rem;

  p {
    padding: 3rem 0;
  }
}

.imagen {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30%;
  color: var(--branco)F;

}
.voltar{
  width: 5rem;
  position: absolute;
  left: 5px;
}
.avance{
  width: 5rem;
  position: absolute;
  right: 5px;

}