.container{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 94vh;
    background-color: var(--roxo-escuro);
}

.trabalhos{
    margin: 5rem 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow:auto;


   
}
.trabalho{
    border-radius: 10%;
    margin: 10px;
    width: 30%;
    height: 20rem;
    background-color: var(--roxo-claro);
}
