
.myButton {
    width: 2vw;
    height: 3vh;
	box-shadow:inset 12px -1px 0px 1px var(--roxo-claro);
	background-color:#ffffff;
	border-radius:50%;
	border:1px solid var(--roxo-claro);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    position: absolute;
    right: 2vw;
    top:0.6rem;
    button{
        width: 4vw;
        height: 4vh;
    }
}
.myButton:hover {
	background-color:var(--preto);
}
.myButton:active {
	top:0.8rem;
}

        