.container{
    margin: 3.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.apresentacao{
    display: flex;
    // padding-left: 185px;
    padding-left: 12rem;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    color:#FFF
}
.imagen{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    color:#FFF;

}